@{
    ViewData["Title"] = "About";
}
<div class="container">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <h4>@ViewData["Title"].</h4>
    </div>
    <div class="row">
        <div class="jumbotron">
            <p>HashProof is a Stratis blockchain proof of existence service developed by Bixaps (devking). </p>
        </div>
    </div>
</div>