@{
    ViewData["Title"] = "Contact";
}
<div class="container">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <h4>@ViewData["Title"].</h4>
    </div>
    <div class="row">
        <div class="jumbotron">
            <address>
                <strong>bixaps at hotmail.com (or) devking on Stratis slack</strong><br />
            </address>

        </div>
    </div>
</div>
